@import '../../style//variables';

.layout-container {
  height: 100%;

  .logo {
    margin: 16px;
    height: 32px;
    line-height: 32px;
    color: map-get($colors, 'white');

    .icon {
      vertical-align: middle;
      font-size: map-get($fontSizes, '30');
      margin-right: 5px;
    }
  }
  .trigger {
    font-size: map-get($fontSizes, '18');;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;

    &:hover {
      color: #1890ff;
    }
  }

  .header-right {
    float: right;
    position: relative;
  }
  .btn-user {
    padding: 4px 8px;
  }
  .layout-header {
    padding: 0;
    border: 1px solid map-get($colors, 'light-grey');
  }
  .layout-nav {
    height: 50px;
    line-height: 50px;
    padding: 0 16px;
    background-color: map-get($colors, 'white');
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
  }
  .layout-content--info {
    padding: 15px;
    min-height: calc(100% - 86px);
  }
}