.page-404 {

    .lost {
      height: 80%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .back {
      color: #fff;
      background-color: #727d99;
    }
}