$colors: (
  "white": #fff,
  "primary": #1890ff,
  "light-grey": #eaeaea,
  "light-grey-1": #efefef,
  "light-red": #FF5722,
  "yellow": #FFB800,
  "green": #5FB878,
  "grey-9": #999,
  "grey-6": #666,
  "grey-3": #333,
);

$fontSizes: (
  '12': 12px,
  '14': 14px,
  '16': 16px,
  '18': 18px,
  '20': 20px,
  '24': 24px,
  '30': 30px,
  '36': 36px,
);

$spaces: (
  '5': 5px,
  '10': 10px,
  '15': 15px,
  '20': 20px,
  '25': 25px,
  '30': 30px,
);

$directions: (t:top, r:right, b:bottom, l:left);