@import '~antd/dist/antd.css';
@import './variables';


#root {
  height: 100%;
}
// 样式初始化
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; } 
h1, h2, h3, h4, h5, h6{ font-size:100%; } 
address, cite, dfn, em, var { font-style:normal; } 
code, kbd, pre, samp { font-family:couriernew, courier, monospace; } 
small{ font-size:12px; } 
ul, ol { list-style:none; } 
a { text-decoration:none; } 
a:hover { text-decoration: none; } 
sup { vertical-align:text-top; } 
sub{ vertical-align:text-bottom; } 
legend { color:#000; } 
fieldset, img { border:0; } 
button, input, select, textarea { font-size:100%; } 
table { border-collapse:collapse; border-spacing:0; }

.w-100 {
  width: 100%;
}
.h-100 {
  height: 100%;
}
.d-flex {
  display: flex;
}
// color
@each $colorKey, $colorValue in $colors {
  .text-#{$colorKey} {
    color: $colorValue;
  }
  .bg-#{$colorKey} {
    background-color: $colorValue;
  }
}

// font-size
@each $font, $fontSize in $fontSizes {
  .fs-#{$font} {
    font-size: $fontSize;
  }
}

// text-align
@each $direction, $value in $directions {
  .text-#{$value} {
    text-align: $value;
  }
}

// space
@each $dKey, $dValue in $directions {
  @each $spaceKey, $spaceValue in $spaces {
    .m#{$dKey}-#{$spaceKey} {
      margin-#{$dValue}: $spaceValue;
    }
    .p#{$dKey}-#{$spaceKey} {
      padding-#{$dValue}: $spaceValue;
    }
    @if $dKey == 'l' {
      .mx-#{$spaceKey} {
        margin: 0 $spaceValue;
      }
      .px-#{$spaceKey} {
        padding: 0 $spaceValue;
      }
    }
    @if $dKey == 't' {
      .my-#{$spaceKey} {
        margin: $spaceValue 0;
      }
      .py-#{$spaceKey} {
        padding: $spaceValue 0;
      }
    }
    @if $dKey == 'r' {
      .m#{$spaceKey} {
        margin: $spaceValue;
      }
      .p#{$spaceKey} {
        padding: $spaceValue;
      }
    }
  }
}